*{
margin: 0;
padding: 0;
}


body {
/*	font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; */

   	font-family: "Open Sans Condensed", sans-serif;
  	font-family: "Quicksand", sans-serif;
  	font-weight:300;
}
/*
.navbar{
	margin-bottom: 0px;
}
*/

.small-navbar {
	margin-top:-10px;
	margin-bottom:-10px;
	font-size: 14px;
	z-index: 2;
}

.small-navbar .navbar-brand {
	margin-left: 12px;
	margin-top: 7px;
	margin-bottom: -10px;
	font-family: 'Dancing Script', cursive;
	font-family: 'Old Standard TT', serif;
	font-family: 'Great Vibes', cursive;
}

.large-navbar {
	position: relative;
}

.large-navbar .navbar-nav {
margin-top: 20px;
}

.nav-item {
	margin-left: 5px;
}

.large-navbar .navbar-brand img {
	margin-top: 5px;
	width:65px;
	height:60px;
	border-radius: 30px 30px 0 25px;

}

.navbar-brand p{
	font-size: 18px;
}


.hidden_large_screen {
	display: none;
}

/* Next & previous buttons */

.carousel-control-prev, .carousel-control-next{
  cursor: pointer;
  /*position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;*/
  color: white;
  font-weight: bold;
  font-size: 300px !important;
  transition: 0.6s ease;
 
}

.carousel-control-next-icon, .carousel-control-next-icon{

	font-size: 400px !important;
}

/* Position the "next button" to the right */

/*
.carousel-control-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

*/
/* On hover, add a black background color with a little bit see-through */

/*
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0,0,0,0.8);

}

*/

.carousel-caption p{
  font-size: 100px;
	font-weight: 700;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  margin-top: -100px; 
 text-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
 color: purple;
  padding-top: 20px;
  padding-bottom: 20px;
}



/* Caption text */
.carousel-caption .prayer{
  font-size: 35px;
  color: white;
  width: 60%;
  text-align: center;
  margin:auto; 
  margin-bottom: 80px;
 font-family: 'Carrois Gothic SC', sans-serif;
 background-color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-bottom: 10px;
}

.carousel-caption .prayer span {
	font-size: 100px;
	font-weight: 700;
}


.carousel{
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 100%;
}

.carousel .carousel-item {
  height: 400px;

}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel .change_size img{
	height: 450px;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin:0;
  left: 0;
  right: 0;
  top: 340px;
  width: auto;
}


/* The indicators - changes shape to bullets/dots */
ol.carousel-indicators li{
  	float: left;
  	width: 33% !important;
  	height: 30px;
	border: solid 1px white !important;
	background-color: transparent;
  	border-radius: 50%;
  	border: 0;
}

ol.carousel-indicators li.active {
  /*background-color: #717171;*/
  background-color: white;
}

ol.carousel-indicators li:hover {
  background-color: #717171;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 830px) {
	.nav-item {
		font-size: 14px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 768px) {

}



@media only screen and (max-width: 670px) {
	.hidden_large_screen {
		display: block;
		background-color: black;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.hidden_large_screen a{
		font-family: 'Dancing Script', cursive;
		font-family: 'Old Standard TT', serif;
		font-family: 'Great Vibes', cursive;
		text-decoration: none;
		color: white;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 20px;
	}

	.small-navbar{
		display: none;
	}

	.carousel .carousel-item img{
	height: 400px;
	}

	.carousel-caption p{
		font-size: 50px;
		font-weight: 500;
	}

	.carousel-caption .prayer, .carousel-caption .prayer span{
  		font-size: 30px;
  		font-weight: 500;
	}

	.carousel-caption .prayer span{
		font-weight: 700;
		font-size: 40px;
	}
}


.welcome p{
		font-family: 'Dancing Script', cursive;
		font-family: 'Old Standard TT', serif;
		font-family: 'Great Vibes', cursive;
		text-decoration: none;
		color: black;
		margin: auto;
		margin-top: 35px;
		margin-bottom: 15px;
		font-size: 40px;
		font-weight: 700;
	}

.welcome_1 {
	margin-left: 70px;
}

.welcome_1 h3 {
	font-size: 80px;
	padding-top: 110px;
	padding-bottom: 20px;
	margin-left: 50px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.welcome_1 p{
	font-size: 22px;
	margin-right: -80px;
}

.welcome_1 img {
	margin-left: 40px;
}

@media only screen and (max-width: 568px) {
  .prev, .next,.text {font-size: 11px}
	


}