*{
margin: 0;
padding: 0;
}


body {
/*	font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; */

   	font-family: "Open Sans Condensed", sans-serif;
  	font-family: "Quicksand", sans-serif;
  	font-weight:300;

  	/*
  	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
  	*/
}


.small-navbar .navbar-brand {
  	font-family: 'Dancing Script', cursive;
	font-family: 'Old Standard TT', serif;
	font-family: 'Great Vibes', cursive;
	padding-top: 15px;
	padding-bottom: 0;
}


.small-navbar, .all-options-navbar {
	margin-top:-10px;
	margin-bottom:-10px;
	font-size: 14px;
	background-color: rgb(0,0,0);
	/*z-index: 2;*/	
}

.big-navbar {
	/*margin-top: 45px; */
	height: 100px;
	background-color: #222;
	font-weight: 100;
}


.big-navbar ul{
	padding-top: 20px;
}

.big-navbar .navbar-brand img{
	margin-top: 5px;
	width:65px;
	height:60px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
   -webkit-border-radius: 30px 30px 0 25px;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 30px 30px 0 25px;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 30px 30px 0 25px;
}

.big-navbar .navbar-brand img:hover {
	margin-top: -7px;
}
/*
.hidden_large_screen {
	display: none;
}
*/

form.search-form input {
	font-weight: 100;
}

form.search-form button{
	/*border:solid 1px rgb(255,255,255);*/
	background: rgb(178, 12, 178);
	
}

form.search-form button:hover{
	border:solid 1px transparent;
	background: rgb(128,0,128);
}

form.search-form button .fa {
	color: rgb(255,255,255);
}

form.search-form button .fa:hover {
	color: rgb(255,255,255);
}



.all-options-navbar { 
flex-direction: initial;
	/*
-webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: column; */
	
	font-weight: 100;
}


.all-options-navbar .short_menu {
	
}

.all-options-navbar .hamburger_menu{
	
}

.navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
	border: solid 1px white;
	border-radius: 50%;
}


/* Next & previous buttons */

.carousel-control-prev, .carousel-control-next{
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 300px !important;
  transition: 0.6s ease;
 
}

.carousel-control-next-icon, .carousel-control-next-icon{
	font-size: 400px !important;
}

.carousel-caption .prayer span {
	font-size: 100px;
	
}


.join{
	padding-bottom: 60px;
	font-size: 55px;
	font-family: 'Dancing Script', cursive;
	font-family: 'Old Standard TT', serif;
	font-family: 'Great Vibes', cursive;
	}

.join.togetherness {
	margin-top: -10px;
}

.join span{
	padding-bottom: 60px;
	font-size: 55px;
	font-family: 'Times';
	font-weight: 100;
	}


.carousel-caption .power, .carousel-caption .together, .carousel-caption .prayer{
	font-size: 60px;
	width: 105%;
	text-align: center;
	margin:auto;
	margin-top: -330px;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;*/
	font-weight: 700;
	/*background-color: rgba(255, 255, 255, 0.3);*/
	padding-top: 20px;
	padding-bottom: 30px;
	text-shadow: none;
	/*border-radius: 50%;*/
	color: white;
	/*text-shadow: 2px 2px 1px black;*/
	text-shadow: 1px 1px 1px rgb(105,105,105);
}

form.location_form{
	margin: 0 auto; 
	width:80%;
	padding-bottom: 30px;
	padding-left: 80px;
}

form.location_form button{
	margin-left: 10px;
	border:solid 1px rgb(128,0,128);
	background: rgb(128,0,128);
	color: rgb(255, 255, 255);
}

form.location_form button:hover{
	border:solid 1px rgb(255, 255, 255);
}

.carousel-caption input, .carousel-caption button {
	padding: 20px 40px 20px 40px;
}

.carousel-caption p a {
	color: white;
	text-shadow: 1px 1px 0 black;
	font-size: 21px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

carousel-caption p a:hover {
	text-decoration: underline;
}

.carousel {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 100%;
}

.carousel .carousel-item {
  	height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}

.dark_background {
	height: 250px;
	background-color: rgba(0,0,0,0.05);
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 50%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 50%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 50%;
}

.carousel .change_size img{
	height: 500px;
	max-height: 500px;
}

ol.carousel-indicators {
	position: absolute;
	bottom: 0;
	margin:0;
	left: 0;
	right: 0;
	top: 440px;
	width: auto;
}

/* The indicators - changes shape to bullets/dots */
ol.carousel-indicators li{
  	float: left;
  	/*width: auto;*/
  	width: 3% !important;
  	height: 30px;
	border: solid 1px white !important;
	background-color: transparent;
  	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 50%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 50%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 50%;
  	border: 0;
}

ol.carousel-indicators li.active {
  	/*background-color: #717171;*/
  	background-color: white;
}

ol.carousel-indicators li:hover {
 	background-color: #717171;
}

.large_fonts_black, .large_fonts_white {
	font-size: 60px;
	padding-bottom: 20px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -2px;	
}

.large_fonts_white {
	color: rgb(255, 255, 255);
}


/*-----  BUTTONS  ------*/

.all_buttons{
	font-weight: 700;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 40px;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 40px;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 40px;
	padding: 18px 50px 18px 50px;
}

.notes_sections {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	background:rgb(0,0,0);
	color: rgb(255,255,255);
	padding: 100px 210px 100px 210px;
}

.notes_sections ul li {
	list-style: none;
	display: inline-block;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.notes_sections ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	border:solid 3px rgb(255,255,255);
}

.notes_sections .btn-outline:hover {
	color: rgb(128, 0, 128);
	border:solid 3px rgb(255,255,255);
	background: rgb(255,255,255);
}

.welcome p{
	font-family: 'Dancing Script', cursive;
	font-family: 'Old Standard TT', serif;
	font-family: 'Great Vibes', cursive;
	text-decoration: none;
	color: black;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 5px;
	font-size: 40px;
	font-weight: 700;
	}

.welcome_1 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.welcome_1_head {
	font-size: 80px;
	padding-bottom: 20px;
}

.welcome_1 p:nth-child(2){
	font-size: 20px;
	font-weight: 300;
	padding-left: 180px;
	padding-right: 180px;
}

.teaching_series{
	padding: 50px 120px 50px 120px;
	/*background: rgba(230,208,255, 0.2);*/
	font-size: 22px;
	font-weight: 300;
}

.teaching_series img {
	width: 800px;
	height: auto;
	box-shadow: 5px 15px 30px rgb(157, 157, 157);
}


.teaching_note {
	padding-top: 50px;
}

.teaching_series p a{
	font-size: 22px;
	font-weight: 300;
	text-decoration: none;
	color: rgb(128, 0, 128);
}

.teaching_series p a:hover{
	color: rgb(130,10,130);
	font-weight: 400;
	letter-spacing: 1px;
}

.new_app {
	padding-top: 60px;
	padding-bottom: 80px;
	font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: 300;
}

.new_app .col_1{
	padding-right: 60px;
}

.new_app .col_2{
	padding-top: 80px;
}

.new_app .btn-outline, .button_options .btn-outline, .statement_whole button{
	border:solid 3px rgb(128,0,128);
	color: rgb(128,0,128);
	padding: 18px 50px 18px 50px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 200px;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 200px;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 200px;
}

.button_options .btn-outline {
	border:solid 3px rgb(255,255,255);
	color: rgb(255, 255, 255);
}

.new_app .btn-outline:hover, .statement_whole button:hover {
	background: rgb(128,0,128);
	color: rgb(255, 255, 255);
}

.new_app img{
	width: 650px;
	height: auto; 
}

.new_app p{
padding-bottom: 25px;
}

.section_head, .teaching_series_head, .new_app_head, .faith_heading, .baptism_heading{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -2px;	
	}

.small_sections_links{
	padding:35px 80px 18px 80px;
	height: 100px;
	background: rgb(88,55,89);
}

.small_sections_links ul li{
	display: inline;
}

.small_sections_links ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 300;
	
}

.small_sections_links ul li .right{
		margin-left: 70px;
		font-size: 22px;
}

.social_links_small{
	float: right;
	margin-right: 20px;
}

.social_links_small a{
	margin-left: 20px;
	font-size: 20px;
}



/***********************
	
	ABOUT US PAGE
***********************/

/*settings are for multiple use*/

.top_image_setting{
	height: 350px;
}

.top_image_setting p{
	padding-top: 115px;
	font-size: 80px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}


.about_background {
	background: url('https://i.imgur.com/aOyGh2E.jpg') 50% 0;

 	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_story, .faith_baptism{
	padding: 30px 90px 100px 90px;
}

.about_story p, .statement_whole p {
	font-size: 22px;
	font-weight: 300;
}

.social_links_big ul {
	padding-top: 60px;
	text-align: center;
}

.social_links_big ul li {
	padding-right: 2px;
	list-style: none;
	display: inline-block;
}

.social_links_big ul li a {
	text-decoration: none;
	border:solid 1px transparent;
	padding: 4px 40px 5px 4px;
	color: rgb(255,255, 255);
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 5px;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 5px;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 5px;
}

.social_links_big ul li a:hover {
	padding: 4px 45px 5px 10px;
}

.social_links_big .fa {
	color: rgb(255,255,255);
}

.social_links_big ul li .instagram {
   background: #8a3ab9;
}

.social_links_big ul li .facebook {
	background: rgb(59,89,152);
}

.social_links_big ul li .pinterest {
	background: rgb(201,34,40);
}

.social_links_big ul li .twitter {
	background: rgb(0, 172, 237);
}

.social_links_big ul li .youtube {
	background: rgb(255, 0, 0);
	padding-right: 25px;
}

.belief_background {
	background: url('https://i.imgur.com/HBKhMWd.jpg') 50% 0;
 	
 	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mission_statement {
	/*border-top: solid 5px rgb(128,0,128);
	border-bottom: solid 45px rgb(128,0,128);*/
	height: 450px;
	padding: 30px 0 30px 0;
	background: url('https://i.imgur.com/RxVvYlK.png') 50% 0;

 	/* The code below creates the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission_statement p:nth-child(2){
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.mission_statement_2 {
	font-size: 20px;
	padding-top: 10px;
	padding-right: 60px;
	padding-left: 90px;
	margin-bottom: 20px;
	font-weight: 300;
}

.mission_statement_2 ul{
	padding-left: 150px;
}

.mission_statement p:first-child{
	font-size: 60px;
	padding-top: 140px;
	color: rgb(255, 255, 255);
	text-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
}

.mission_vision {
	padding-top: 20px;
}

.mission_statement_2,.mission_statement_para{
	padding-bottom: 30px;
	font-size: 20px;
	line-height: 32px;
}

.mission_statement_para {
	padding-top: 20px;
	font-weight: 300;
}

.mission_statement_para img{
	margin-right: 30px;
	width:350px; 
	height:auto;
}

.line {
	margin-top: 60px;
	margin-right: 60px;
	margin-left: 60px;
}

.mission_statement_para p {
	padding-bottom: 25px;
}

.mission_statement_para .btn {
	color: rgb(128,128,128);
	border:1px solid rgb(192,192,192);
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 1px;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 1px;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 1px;
	padding: 15px;
	box-shadow: 5px 5px 3px #aaaaaa;
}

.mission_statement_para .btn:hover {
	color: rgb(105,105,105);
}


/*-----VISION-----*/

.mission, .vision {
	margin-top: 40px;
	padding-bottom: 20px;
}

.vision_background{
	background: url('https://i.imgur.com/mDN7dP8.jpg') 50% 0 no-repeat;
 	background-size: cover;
}

.vision_background ul{
	float: right;
	background-color: rgba(255,255,255,0.6);
	padding:30px 30px 30px 40px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 300;
}

.bible_quote {
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
	padding: 120px 130px 120px 130px;
	/*background-position: 50% 90px;*/
}

.bible_quote p{
  	font-weight: 100;
	font-size: 34px;	
}

.bible_quote p span {
	font-size: 15px;	
}


.join_min {
	padding-top: 100px;
	padding-bottom: 100px;
}

.join_min_head {
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 15px;
}

.underline {
	height: 10px;
}

.join_min_sub_head {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 28px;
	font-weight: 300;
}

.ministries img {
	height: 110px;
	width: auto;
	width: 100% \9; /* I added this width because according to Bootstrap 
	images with .img-fluid are disproportionately sized.  This fix improperly 
	sizes other image formats, so Bootstrap doesn’t apply it automatically. */
	float: right;
}

.ministries img:hover {
	border:solid 5px purple;
	padding: 5px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 50%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 50%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 50%;
}

.ministries .title{
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
  	font-family: 'Raleway', sans-serif;
  	font-weight: 100;
  	margin-bottom: 0;
}

.about_min {
	padding-bottom: 30px;
	font-weight: 300;
}


.youth img{
	margin-top: -6px;
}

.about_youth {
	margin-top: -20px;
}

.info .head {
	font-size: 20px;
}

.info {
	background-color:rgb(74,74,74);
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(255,255,255);
}

.info img {
	padding-top: 50px;
	margin-left: 30px;
	width: 120px;
	height: auto;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 60% 60% 0 40%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 60% 60% 0 40%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 60% 60% 0 40%;
}

.small_sections_links li, .info li, .beliefs li{
	list-style-type: none;
}

.beliefs li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.info a{
	text-decoration: none;
	color: rgb(160, 160, 160);
	font-size: 16px;
}

/* mouse over link */
.info a:hover, footer p span a:hover{
	text-decoration: underline;
	color: white;
}

.info ul .active {
	color: white;
}
.visit_location {
	padding-bottom: 50px;
}

.visit_location li{
	display: inline-block;
	padding: 3px 5px 3px 5px;
	margin-left: 10px;
	background-color: grey;
	color: white;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 30%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 30%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 30%;
}

.visit_location li:hover {
	background-color: white;
	color: grey;
}

.number {
	font-size: 30px;
}

.contact .address {
	font-size: 12px;
}

.number .fa-phone {
	color: white;
}

.info .email {
 font-size: 16px;
}

.info .connect_social {
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 0;
	font-weight: 300;
}

.info .social_links {
	margin-top: -20px;
}

.info .social_links .fa {
	margin-left: 12px;
	margin-top: 50px;
	font-size: 25px;
	text-align: center;
}

.social_links_big .fa-instagram ,.info .social_links .fa-instagram{
   text-decoration: none;
   	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 20%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 20%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 20%;
   padding:3px;
   color: white; /* For browsers that do not support gradients */
   /*gradient colors for instagram*/
   background: linear-gradient(
      to bottom left,
      #4c68d7,
      #8a3ab9,
      #bc2a8d,
      #fccc63
    );
}

.info .social_links .fa-pinterest{
	color: rgb(201,34,40);
	background-color: rgb(255, 255, 255);
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 50%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 50%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 50%;
	padding-left: 2px;
	padding-right: 2px;
}

.info .social_links .fa-twitter{
	text-decoration: none;
	color: rgb(0, 172, 237);
}

.info .social_links .fa-facebook{
	text-decoration: none;
	color: rgb(59,89,152);
}

.social_links_big .fa-youtube, .info .social_links .fa-youtube{
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color:rgb(255, 0, 0);
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 10%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 10%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 10%;
}

/*--*************************
          FOOTER
**************************--*/

footer {
  padding-top:9px;
  font-size:11px;
  color: rgb(255, 255, 255);
}

footer p span {
	float: right;
}

footer p span a {
	text-decoration: none;
	color: white;
}




/*--*************************
          BELIEF PAGE
**************************--*/


.beliefs_baptism{
	margin-left: 70px;
	font-weight: 500;
	font-size: 17px;
}

.beliefs_baptism:hover{
	text-decoration: underline;
}

.faith_baptism {
padding-top: 50px;
padding-bottom: 90px;
font-size: 18px;
font-weight: 300;
}

.statement_whole a {
	text-decoration: none;
	color: rgb(0,0,0);
}

.statement_whole button {
	background: transparent;
	margin-top: 30px;
	font-size: 20px;
	padding: 10px 40px 10px 40px;
}

#view_more {
	display: none;
}

.faith_statements_title{ 
	/*text-decoration:underline; */
	border: solid 2px rgb(128, 0, 128);
	border-right: none;
	border-left: none;
	border-top: none;
	/*background: rgb(128,0,128);*/
	color: grey;
	font-size: 22px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top:30px;
	margin-left: 370px;
	margin-right: 370px;
}

.water_baptism {
	/*background: #8a3ab9;*/
	background: rgb(130,10,130);
}


.baptism {
	padding-bottom: 100px;
}

.baptism .about_baptism, .baptism .baptism_vids{
	padding-top: 90px;
}
.about_baptism {
	padding-left: 50px;
	padding-right: 50px;
}

.about_baptism p:nth-child(2), .about_baptism p:nth-child(4), .baptism_vids p:nth-child(2), .baptism_vids p:nth-child(5) {
	font-weight: 300;
	font-size: 20px;
	

}
.about_baptism p:first-child, .about_baptism p:nth-child(3), .baptism_vids p:nth-child(4){
	font-weight: 700;
	font-size: 26px;
}

.baptism_vids {
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 80px;
}




/*************************
		MEDIA SCREENS 
*************************/


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 1024px) {
	.nav-item {
		font-size: 14px;
		margin-left: 0px;
	}

	.first {
		padding-left: 70px;
	}
	.second {
		padding-left: 320px;
	}
	.third {
		
		padding-left: 580px;
		
	}	

	.ministries img {
	height: 90px;

	}

	.large-navbar {
		background-color: transparent;
	position: relative;
	margin-top: 70px;
	}
/*
	.statement_of_faith p:first-child {
		font-size: 30px;
	}
	*/

	.carousel-caption .power, .carousel-caption .together{
	font-size: 50px;
	width: 105%;
	margin-right: 240px;
	}

	form.location_form{
	margin: 0 auto; 
	width:100%;
	}

}


@media only screen and (max-width: 830px) {
	.nav-item {
		font-size: 14px;
		margin-left: 0px;
	}

	.search_form input{
		max-width: 115px;
	}
/*
	.welcome_1 h3{
		margin-top: -40px;
		padding-left: 100px;
	}
*/
	.welcome_1 p{
		margin-left: -35px;
		font-size: 18px;
	}
/*
	.welcome_1 img {
	margin-top: 200px;
	margin-left: 60px;
	}
*/
	.carousel-caption .together{
  	font-size: 50px;
  	width: 100%;
  	margin-bottom: 90px;
  	padding-bottom: 10px;
  	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 50%;
  	/* Firefox 1-3.6 */
  	-moz-border-radius: 50%;
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 50%;
}
/*
	.carousel-caption .together span{
		font-size: 80px;
	}
*/
	.first {
		padding-left: 50px;
	}
	.second {
		padding-left: 220px;
	}
	.third {
		
		padding-left: 320px;
	}	

	.bible_quote {
	padding: 120px 90px 120px 90px;
	/*background-position: 50% 90px;*/
	}

	.info .social_links .fa {
	margin-left: 5px;
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
	}

	.beliefs_head{
		font-size: 35px;
	}

	.beliefs_statement,.beliefs_baptism{
		margin-left: 50px;
		font-weight: 400;
		font-size: 17px;
	}
/*
	.statement_of_faith p:first-child {
		font-size: 24px;
	}
*/
	.info .email {
	 	font-size: 14px;
	}


	.carousel-caption .power, .carousel-caption .together{
		font-size: 40px;
		width: 105%;
		margin-right: 240px;
	}

	form.location_form{
		margin: 0 auto; 
		width:110%;
		padding-bottom: 10px;
		padding-left: 30px;
	}
	.carousel-caption .together{
		margin-top: -310px;
		margin-bottom: 0px;
	}

}

@media only screen and (max-width: 768px) {

	.carousel-caption .together{
		font-size: 45px;
	}

	.bible_quote {
	padding: 120px 70px 120px 70px;
	/*background-position: 50% 90px;*/
	}

	.beliefs_head{
	font-size: 35px;
	}

	.beliefs_statement,.beliefs_baptism{
		margin-left: 30px;
	}
		/*
.statement_of_faith p {
	padding-left: 50px;
	padding-right: 50px;
	}
	.statement_of_faith p:first-child {
	font-size: 26px;
	}
*/
	.carousel-caption .power, .carousel-caption .together{
		font-size: 35px;
	
	}

	form.location_form{
		margin: 0 auto; 
		width:110%;
		padding-bottom: 5px;
		padding-left: 10px;
	}

	.carousel-caption .together{
		margin-top: -310px;
		margin-bottom: 0px;
	}

}

@media only screen and (max-width: 670px) {
	.hidden_large_screen {
		display: block;
		background-color: black;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
.large-navbar {
	position: relative;
	margin-top: 0px;
}
	.hidden_large_screen a{
		font-family: 'Dancing Script', cursive;
		font-family: 'Old Standard TT', serif;
		font-family: 'Great Vibes', cursive;
		text-decoration: none;
		color: white;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 20px;
	}

	.small-navbar{
		display: none;
	}

	.carousel .carousel-item img{
	height: 400px;
	}

	.carousel-caption p{
		font-size: 50px;
		font-weight: 500;
	}

	.carousel-caption .prayer, .carousel-caption .prayer span{
  		font-size: 30px;
  		font-weight: 500;
	}

	.carousel-caption .prayer span{
		font-weight: 700;
		font-size: 40px;
	}
/*
	.welcome_1 h3 {
	margin-left: 20px;
	font-size: 50px;
	}
*/
	.carousel-caption .together{
		font-size: 35px;
	}

	.first, .second, .third {
		padding-left: 0px;
		text-align: center;
	}	

	.ministries {
		padding-left: 40px;
		padding-right: 40px;
	}
	.ministries img{
		float: left;
	}

	.contact_us, .number, .office, .address, .email {
		margin-left: -270px;
		text-align: center;
	}


	.beliefs_head{
	font-weight: 500;
	font-size: 30px;
	}

	.beliefs_statement,.beliefs_baptism{
		margin-left: 10px;
		font-weight: 400;
		font-size: 15px;
	}

	.beliefs ul li{
		display: inline;
	}
	
/*
	.statement_of_faith p:first-child {
	font-size: 18px;
	}
*/
	.faith_baptism {
	padding-top: 30px;
	padding-bottom: 30px;
	}


	.carousel-caption .power, .carousel-caption .together{
		font-size: 35px;
		width: 120%;
		margin-left: -50px;
	}

	form.location_form{
		margin: 0 auto; 
		width:120%;
		padding-bottom: 0px;
		padding-left: 0px;
		}

	.carousel-caption .together{
		margin-top: -310px;
		margin-bottom: 0px;
	}

	.carousel-caption input, .carousel-caption button {
		padding: 15px 10px 15px 10px;
	}

	.carousel-caption .link {
		padding-top: 20px;
		font-size: 21px;
	}
}


@media only screen and (max-width: 568px) {

  .welcome p{
  	text-align: center;
  }
/*
	.welcome_1 h3 {
	margin-left: -160px;
	}
	*/
	.welcome_1 p{
	margin-left: -60px;
	margin-right: 10px;
	}
	/*
	.welcome_1 img {
	margin-top: 20px;
	margin-left: -70px;
	}
*/
	.mission_statement_para img{
	width:330px; 
	height:auto;
	padding-bottom: 20px;
	}

	.mission_statement_para p {
		padding-bottom: 10px;
	}

	.mission_statement_para .btn {
		width: 330px;
		overflow-wrap: break-word;
		font-size: 12px;
		padding-left: 5px;
	}

	.carousel-caption .together{
	font-size: 25px;
	}

	.beliefs_head{
	font-weight: 700;
	font-size: 25px;
	}

	.beliefs_statement,.beliefs_baptism{
		font-weight: 400;
		font-size: 12px;
	}

	.carousel-caption .power, .carousel-caption .together{
		font-size: 30px;
	}


	form.location_form input{
		width: 170px;
	}


	form.location_form{
		margin: 0 auto; 
		width:120%;
		margin-left: 20px;
	}

  .carousel-caption input, .carousel-caption button {
		padding: 12px 8px 12px 8px;
		font-size: 16px;
	}


}

@media only screen and (max-width: 375px) {
 .carousel-caption .together{
	font-size: 20px;
	margin-bottom: 160px;
	}


	.mission_statement_para img{
		width:280px; 
	}

	.mission_statement_para .btn {
		width: 280px;
		font-size: 10px;
	}

/*
	.carousel-caption .together span{
		font-size: 40px;
	}
*/
	.bible_quote {
		padding: 50px 30px 50px 30px;
	/*background-position: 50% 90px;*/
	}
	.bible_quote p {
		font-size: 20px
	}

	.info img {
		margin-left: 15px;
	}

	.contact_us, .number, .office, .address, .email {
		margin-left: -170px;
		text-align: center;
	}

	.info .social_links .fa {
		margin-left: 3px;
		font-size: 20px;
	}

	footer p span {
		float: left;
	}

	.info .connect_social {
		padding-left: 0px;
		font-size: 14px;
	}


	.beliefs ul li{
	display: block;
	}

	.beliefs_head{
		font-size: 20px;
	}
/*
	.statement_of_faith p {
	padding-left: 20px;
	padding-right: 20px;
	}
	.statement_of_faith p:nth-child(2) {
	font-size: 26px;
	}
*/
	.carousel-caption .power, .carousel-caption .together{
		padding-top: 0;
		font-size: 30px;
		margin-left: -14px;
		text-align: center;
	}

	.carousel-caption .together{
		margin-bottom: 0px;
	}

	.power_media_screen {
		text-align: center;
		padding-left: 40px;
	}

	form.location_form input{
		width: 155px;
		margin-left: -20px;
	}


	form.location_form{
		margin: 0 auto; 
		width:145%;
	}



	form.location_form button{
	margin-left: 0px;
}

  .carousel-caption input, .carousel-caption button {
		padding: 12px 8px 12px 8px;
		font-size: 16px;
	}
 }